.table-header {
    margin: 20px 0;
    padding: 0 15px;
    overflow: auto;
}

    .table-header h2 {
        float: left;
    }

#add {
    float: right;
}
.add-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #0000003b;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.add-form {
    background-color: #fff;
    padding: 15px;
    width: 40%;
    border-radius: 2%;
    animation: display 0.6s;
}

    .add-form input[type=text] {
        width: 100%;
        margin: 15px 0 0 0;
        padding: 12px;
        border: 1px solid #e6e4e3;
    }
    .add-form label{
        width:100%;
    }

.buttons button {
    width: 70px;
    text-align: center;
    padding: 7px;
    margin-right: 10px;
}

.btn{
    text-align:center;
}
@keyframes display {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media screen and (max-height: 400px) {
    .add-container {
        align-items: flex-start;
    }
}

